{% if page.layout == "page" %}
    <style>
        .block {
            border-left: 3px solid #ffcc00;
            margin: 0;
            padding: 0 0 0 20px;
            margin: 0 0 10px;
        }

        .go-back {
            position: sticky;
            background: #262625;
            bottom: 1em;
            padding: 1em;
            border-radius: 3px;
            border: 1px solid #8f6618;
            box-shadow: 0 0 6px 4px #171717;
            display: inline-block;
            left: 100%;
            margin: 0 auto;
        }
    </style>
    <a href="/" class="go-back">Go back</a>
{% else %}
    <style>
        li {
            margin-bottom: 1em; 
        }

        .block {
            border-left: 3px solid #ffcc00;
            margin: 0;
            padding: 0 0 0 20px;
            margin: 0 0 10px;
        }
    </style>
{% endif %}
<style>
    .employment-data {
        font-size: 0.9em; 
        opacity: 0.7; 
        font-family: monospace;
        margin-top: 0.5em;
    }

    blockquote {
        border:0;
    }

    @media (min-width: 601px) {
        .employment-data {
            position: absolute;
            right: 0;
        }
    }

    @media (max-width: 600px) {
      .break-before-paren::before {
        content: "\A";
        white-space: pre;
      }
      .employment-data {
        font-size: 0.6em;
        margin: 0;
      }
      .hide-mobile {
        display: none;
      }
      .fsr {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
        }
    }
</style>

<p>
    Website using a modified version of the <a href="https://github.com/pages-themes/midnight" target="_blank" rel="noopener noreferrer" style="color: #999;">Midnight theme</a>.
</p>


{%- if page.lang == 'en' -%}
  {%- assign schema_data = site.data.schema_en -%}
{%- elsif page.lang == 'es' -%}
  {%- assign schema_data = site.data.schema_es -%}
{%- elsif page.lang == 'pl' -%}
  {%- assign schema_data = site.data.schema_pl -%}
{%- endif -%}

{%- if schema_data -%}
<script type="application/ld+json">
  {{ schema_data | jsonify }}
</script>
{%- endif -%}