{% if page.layout == "page" %}
    <style>
        .block {
            border-left: 3px solid #ffcc00;
            margin: 0;
            padding: 0 0 0 20px;
            margin: 0 0 10px;
        }

        .go-back {
            position: sticky;
            background: #262625;
            bottom: 1em;
            padding: 1em;
            border-radius: 3px;
            border: 1px solid #8f6618;
            box-shadow: 0 0 6px 4px #171717;
            display: inline-block;
            left: 100%;
            margin: 0 auto;
        }
    </style>
    <a href="/" class="go-back">Go back</a>
{% else %}
    <style>
        li {
            margin-bottom: 1em; 
        }

        .block {
            border-left: 3px solid #ffcc00;
            margin: 0;
            padding: 0 0 0 20px;
            margin: 0 0 10px;
        }
    </style>
{% endif %}

<p>
    Website using a modified version of the <a href="https://github.com/pages-themes/midnight" target="_blank" rel="noopener noreferrer" style="color: #999;">Midnight theme</a>.
</p>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "name": "Mateusz Kimont",
    "jobTitle": "Principal Full-Stack Engineer",
    "url": "https://kimek.github.io/",
    "sameAs": [
      "https://www.linkedin.com/in/mkimont/",
      "https://github.com/kimek",
      "https://stackoverflow.com/users/3381657/fearis",
      "https://www.x.com/mkimont/"
    ]
  }
}
</script>