<section style="text-align: center;">
    <img src="/assets/images/mateusz-kimont.png" alt="Mateusz Kimont - Principal Full-Stack Engineer" style="width: 150px; border-radius: 50%;" /><br>
    <div id="title">
        <h1>{{ page.fullname }}</h1>
        <p>{{ page.jobTitle }}</p>
        <p><small>Status: Open for new remote opportunities - July 2025</small></p>
        {% if page.layout == "page" %}
            <hr>
                <p>{{ page.header }}</p>
            <hr>
        {% elsif page.lang == 'en-US' %} 
            <blockquote>"Be careful of extrapolating patterns without proof" - Grant Sanderson</blockquote>
        {% endif %}
    </div>
</section>