<ul>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.realestateforachangingworld.co.uk/" target="_blank" itemprop="url" rel="noopener noreferrer">BNP Paribas Real Estate</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.ultravilla.com" target="_blank" itemprop="url" rel="noopener noreferrer">Ultravilla</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://luxuryflooring.co.uk/" target="_blank" itemprop="url" rel="noopener noreferrer">Luxury flooring</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.northerngasnetworks.co.uk/" target="_blank" itemprop="url" rel="noopener noreferrer">Northern Gas Networks</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.tatianatafur.com/" target="_blank" itemprop="url" rel="noopener noreferrer">Tatiana Tafur</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://brakspear.co.uk/our-pubs/" target="_blank" itemprop="url" rel="noopener noreferrer">Brakspear</a></li>
</ul>