<ul>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.realestateforachangingworld.co.uk/" target="_blank" itemprop="url">BNP Paribas Real Estate</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.ultravilla.com" target="_blank" itemprop="url">Ultravilla</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://luxuryflooring.co.uk/" target="_blank" itemprop="url">Luxury flooring (tienda)</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.northerngasnetworks.co.uk/" target="_blank" itemprop="url">Northern Gas Networks</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://www.tatianatafur.com/" target="_blank" itemprop="url">Tatiana Tafur (diseñadora)</a></li>
    <li itemprop="workExample" itemscope itemtype="https://schema.org/CreativeWork"><a href="https://brakspear.co.uk/our-pubs/" target="_blank" itemprop="url">Brakspear (cadena de pubs)</a></li>
</ul>