<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
</head>
<body>
<div id="header">

</div><!-- end header -->

<div class="wrapper">

    <section>
        <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
            <hr>
            <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
            <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

        <h2>My name is Matt and I'm web developer Ninja.</h2>

        <p>LinkedIn: <a href="https://uk.linkedin.com/in/mkimont">https://uk.linkedin.com/in/mkimont</a></p>
        <p>StackOverflow:  <a href="https://stackoverflow.com/users/3381657/fearis?tab=profile">Profile</a></p>


        <h3>Agency 2014-2016</h3>

        <p><a href="https://www.veritasadvisory.co.uk">Veritas advisory (advisory)</a></p>

        <p><a href="https://www.ultravilla.com">Ultravilla (real estate)</a></p>

        <p><a href="https://www.themanufacturer.com/">The Manufacturer (news)</a></p>

        <p><a href="https://eden-gardens.co.uk">Eden Gardens (gardening)</a></p>

        <p><a href="https://millionhairslondon.co.uk/">Millionhairs London (salon)</a></p>

        <p><a href="https://digitalaudioworks.co.uk/">Digital Audioworks (music)</a></p>

        <p><a href="https://www.realestateforachangingworld.co.uk/">BNP Paribas real estate (bank)</a></p>

        <p><a href="https://www.suda-thai.com/">Suda-thai (restaurant</a></p>

        <p><a href="https://zerodegree.co.uk/">Zero-degree (pub chain)</a></p>

        <p><a href="https://tatianatafur.com/">Tatiana Tafur (designer)</a></p>

        <p><a href="https://www.charlesburnand.com/">Charles Burnand (designer)</a></p>

        <p><a href="https://brakspear.co.uk/pub-finder/">Brakspear (pub chain)</a></p>

        <p><a href="https://hfv.co.uk/">HFV (shop)</a></p>

        <p><a href="https://www.woodallsdesign.com/">Woodalls (architecture)</a></p>

        <p><a href="https://www.luxuryflooringandfurnishings.co.uk/">Luxury flooring</a></p>

        <p><a href="https://abpfoodgroup.com/">Abp food group</a></p>

        <p><a href="https://crabbiesgingerbeer.com/"></a></p>

        <p><a href="https://www.northerngasnetworks.co.uk/">North Gas network</a></p>

        <p>EasyJet internal site, many other offline sites</p>

        Magento, MySQL

        Couching junior developers, helping directors and designer in all web related aspects, proactive in helping clarify direction of agency.

        2016 till 2023
        <h3>2014 - 2016 Agency:</h3>
        <a href="https://grapple.agency/">Grapple</a> // <a href="https://wearemarvellous.com/">We are Marvellous</a> //
        <a href="https://www.xanda.net/">Xanda</a>


        I've worked as full stack senior developer in insurance company for 4 years, contractor for 4 months for health related Company and moving to printing company writing bespoken printing system https://billy-gift.co.uk/

        Please don't hesitate to ask me any question - I'm more then happy to answer to any of them.

        Kind regards,
        Matt Kimont

    </section>

</div>
</body>
</html>