<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
</head>
<body>
<div id="header">

</div><!-- end header -->

<div class="wrapper">

    <section>
        <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
            <hr>
        </div>

        {{ content }}

        <h2>Mostly PHP frameworks, Wordpress, Frontend (vanilla) and Devops job. </h2>

        <h3>Links </h3>
        <p>Full CV: <a href="/CV_Matthew_Kimont.pdf">PDF format</a></p>
        <p>LinkedIn: <a href="https://uk.linkedin.com/in/mkimont">https://uk.linkedin.com/in/mkimont</a></p>
        <p>StackOverflow:  <a href="https://stackoverflow.com/users/3381657/fearis?tab=profile">https://stackoverflow.com/users/3381657</a></p>
        <p>Github: <a href="https://github.com/kimek">https://github.com/kimek</a></p>

        <h2>Greatest accomplishment</h2>
        - Creating testing machine (cloud) and functional testing on each deployment for insurance company which includes screenshots (desktop and mobile), web browser errors too<br>
        - Creating 40million+ sterling pounds payment wrappers for insurance company <br>
        - Writing bespoken shop which generating personalized product <br>

        <h2>Timeline</h2>
        <h3>Current</h3>
        <div class="block">
            Creating bespoken printing shop <a href="https://billy-gift.co.uk/">The Billy Gift</a>
        </div>
        <h3>2021 ↑ </h3>
        <div class="block">
            Contractor for 4 months for <a href="https://rldatix.com/en-nam/">RLDatix</a> - provider of health care software for Saudi Arabia, Canada, Australia and UK
        </div>
        <h3>2020 ↑ </h3>
        <div class="block">
            I've worked as full stack senior developer in <a href="https://www.theinsuranceemporium.co.uk/">The Insurance Emporium</a> - one of the biggest insurance company in the UK
        </div>
        <h3>2016 ↑ </h3>
        <div class="block">
        <p>Selected agency works :</p>

        <p><a href="https://www.veritasadvisory.co.uk">Veritas advisory</a> (advisory)</p>

        <p><a href="https://www.ultravilla.com">Ultravilla</a>  (real estate)</p>

        <p><a href="https://www.themanufacturer.com/">The Manufacturer</a>  (news)</p>

        <p><a href="https://eden-gardens.co.uk">Eden Gardens</a>  (gardening)</p>

        <p><a href="https://millionhairslondon.co.uk/">Millionhairs London</a>  (salon)</p>

        <p><a href="https://digitalaudioworks.co.uk/">Digital Audioworks</a> (music)</p>

        <p><a href="https://www.realestateforachangingworld.co.uk/">BNP Paribas real estate</a> (bank)</p>

        <p><a href="https://www.suda-thai.com/">Suda-thai</a> (restaurant)</p>

        <p><a href="https://zerodegree.co.uk/">Zero-degree</a> (pub chain)</p>

        <p><a href="https://tatianatafur.com/">Tatiana Tafur</a> (designer)</p>

        <p><a href="https://www.charlesburnand.com/">Charles Burnand</a> (designer)</p>

        <p><a href="https://brakspear.co.uk/pub-finder/">Brakspear</a> (pub chain)</p>

        <p><a href="https://hfv.co.uk/">HFV</a> (shop)</p>

        <p><a href="https://www.woodallsdesign.com/">Woodalls</a> (architecture)</p>

        <p><a href="https://www.luxuryflooringandfurnishings.co.uk/">Luxury flooring</a> (shop)</p>

        <p><a href="https://abpfoodgroup.com/">ABP food group</a> (company)</p>

        <p><a href="https://crabbiesgingerbeer.com/">Crabbie beer</a> (alcohol)</p>

        <p><a href="https://www.northerngasnetworks.co.uk/">North Gas network</a> (company)</p>

        <p>EasyJet internal site</p>

        </div>
        <h3>2014 ↑ Started in digital agencies (<a href="https://grapple.agency/">Grapple</a> // <a href="https://wearemarvellous.com/">We are Marvellous</a> //
            <a href="https://www.xanda.net/">Xanda</a>)</h3>
        <div class="block">
        Before 2014 I've tried: <br>
            - 3 faculties in 2 different Universities <br>
            - before finishing 15 years I've tried coding in QBasic, Pascal, Delphi, C <br>
            - solve mystery of life itself <br>
        </div>
        <br>
        <p>References on request.</p>
        <style>
            .block {
                border-left: 3px solid #ffcc00;
                margin: 0;
                padding: 0 0 0 20px;
                margin: 0 0 10px;
            }
        </style>
    </section>
</div>

</body>
</html>